.reminderItem {
  padding: 0.5rem 0.75rem;
  width: 100%;
  flex-wrap: nowrap;
  background-color: ghostwhite;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.reminderName {
  width: 100%;
}

.reminderDate {
  width: 220px;
}

.reminderActions {
  width: 80px;
}

/* @media (width < 800px) {
  .reminderName {
    width: 50%;
  }

  .reminderDate {
    width: 30%;
  }

  .reminderActions {
    width: 20%;
  }
} */
