@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/core/styles.css";
@import "@mantine/charts/styles.css";

:root {
  font-family: var(--font-poppins), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}
