.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.7rem 0;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.burger {
  display: none;
}

@media (width <= 500px) {
  .links {
    display: none !important;
  }

  .burger {
    display: block;
  }
}
