/* .tabContainer {
  position: relative;
  width: 100%;
  height: 100%;
} */

/* @media (width <= 500px) {
  .list {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: var(--mantine-color-blue-0);
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
    padding: 0.5rem;
  } */

/* .panel {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.tabLabel {
  font-size: 1rem;
}

.tab {
  &[data-active] {
    background-color: var(--mantine-color-gold-5);
    color: black;
    border-color: var(--mantine-color-gold-5);
  }
} */

.root {
  height: calc(100vh - 150px);
  overflow-y: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  height: 100%;
  width: 200px !important;
  min-width: 200px !important;
  padding: 1rem;
  box-shadow: var(--mantine-shadow-sm);
  border-radius: var(--mantine-radius-sm);
  background-color: ghostwhite;
}

[data-mantine-color-scheme="dark"] .list {
  background-color: var(--mantine-color-darkCard-8);
}

.panel {
  height: 100%;
  padding: 0 1.5rem 0 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab {
  border-radius: var(--mantine-radius-sm);
  background-color: white;

  &:hover {
    background-color: var(--mantine-color-gold-3);
  }

  &[data-active] {
    background-color: var(--mantine-color-gold-5);
    color: white;
    border-color: var(--mantine-color-gold-5);
  }
}

[data-mantine-color-scheme="dark"] .tab {
  background-color: var(--mantine-color-darkCard-7);
  color: white;

  &:hover {
    background-color: var(--mantine-color-gold-7) !important;
  }

  &[data-active] {
    background-color: var(--mantine-color-gold-8);
    color: white;
    border-color: var(--mantine-color-gold-5);
  }
}

.tabLabel {
  font-size: 0.9125rem;
  text-align: left;
}
